

.product-table {
  font-family: inherit;
  border-collapse: collapse;
  margin-top: .5rem;
}
.product-table th {
  border: solid 1px  teal;
  border-left: none;
  background-color: white;
  color:  teal;
  font-weight: 200;
  padding: 0.5rem;
}
.product-table th:hover {  
  background-color: teal;
  color:  white;  
}
.product-table th:last-child {
  border-right: none;
}
.product-table td {
  padding: 0rem 1rem; 
  text-align: center;
  border-bottom: solid 1px #ababab;
}
.product-table tr:nth-child(odd) {
  background-color: rgba(0, 128, 128, .2)
}
.product-table img {
  width: 80px;
  height: 80px;
  margin: 0.3rem;
}
.product-table__description {
  font-family: 'Courier New', Courier, monospace;
}