<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>

    <main>
    <h1>My Order</h1>
    <ul>
      <% for(let i of orders) {%>
        <li><%= i.title %></li>
      <% } %>
    </ul>
    </main>

<%- include('../includes/end.ejs') %>